.new-product {
  margin: 15px;
  border-radius: 3px;
  padding:15px;
  background-color: white;
}

.new-product form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

.new-product h3 {
  display:block;
  color: #666;
  padding: 15px 0;
  margin: 0 0 25px;
  border-bottom: 1px solid #c4c4c4;
  font-weight: 400px;
  font-size: 16px;
}

label {
  font-weight: 400;
  margin: .5rem 0;
  font-size: 14px;
  display:block;
}

input {
  margin-right: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 7px 10px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  color: #666;
}

input.error {
  border: 1px solid red;
}
.msg-error{
  color: #D1030F;
}

.form-group {
  width: 100%;
  margin-left: 15px;
  margin-top: 15px;
}

form .btn {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .form-group {
    flex: 1 0 calc(33% - 15px);
  }
}