.product-item {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.product-item img {
  width: 100%;
}

.product-item .img-product {
  box-sizing: border-box;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 360px;
  height: 75vw;
  padding: 15px;
}

.product-item .container-texts {
  padding: 15px 15px 20px;
  text-align: center;
}

.product-item h3 {
  color: #333;
  margin: 10px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.price {
  margin: 10px;
  color: #D1030F;
  display: block;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.list-price {
  color: #9E9E9E;
  margin: 0 3px;
}

.list-price span {
  color: #0F7300;
}

@media only screen and (min-width: 768px) {

  .product-item {
    width: calc(33.33% - 10px)
  }

  .product-item .img-product {
    height: 28vw;
  }

}