.btn {
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #FFFFFF;
  background-color: #0084E0;
  padding: 8px 15px;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  border-color: transparent transparent #016ab3;
  border-style: solid;
  border-width: 1px 1px 2px;
  outline: none;
  margin: 15px;
}

.btn:disabled{
  opacity: 0.5;
  cursor: auto;
}

.btn-grey {
  background-color: #dfdfdf;
  border-color: transparent transparent #d3d3d3;
  color: #999;
}