.loading {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: -10px;
    margin-top: -10px;
}

@media only screen and (min-width: 768px) {

}